.hero-container{
    display: flex;
    background-color: antiquewhite;
    gap: 20px;
    
    padding: 10px 20px;
}
.hero-container img{
    width: 100%;
    height: 300px;
}

main{
    max-width: 1270px;
    background-color: rgb(158, 32, 32);
    margin: 0 auto;
}